/* page load */

body{
    display: flex;
    align-items: center;
}


/*character selection*/

#pre-session {
    
    display:flex;
    position: fixed;
}
.outer-images {
    display: flex;
    width: 600px;
    height: 1235px;
    /* align-items: center;
    justify-content: center; */
}
.images {
    width: 600px;
    height: 1235px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.charSelectCard {
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 255, .2);
    border-radius: 6px;
    padding: 10px;
    height:150;
    width: 150;
    background-image: url(card2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
    margin-top: 2px;
}
img {
    box-shadow:20px red;
    border-radius: 6px;
    height: 100px;
    margin-bottom: 50px;
    /* padding: 5px; */
}
/* button div */
#charOptionsSelect{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.charSelectButtons{
    margin: 5px;
}

/* begin menu (selected characters) */
.outer-begin-menu{
    height: 1235px;
    display: flex;
    /* max-width: 600px; */
    flex-direction: column;
}

.begin-menu-panel{
    height: 1235px;
    display: flex;
    /* max-width: 400px; */
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: aqua;
}

/* ---------- main session ------------- */
#session-main{
    position: fixed;
    left: 50%;
    margin:auto;
    max-height: fit-content;
    max-width: fit-content;
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    border:1px solid;

}
.session-top{
    display: flex;
    max-height: 100em;
    min-height:40em;
    max-width: 200em;
    min-width:80em;
    
    border:1px solid;
    /* display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	/* justify-content: center; */
	/* align-items: stretch; */
	/* align-content: flex-start; */ 
	
}
.session-bottom{
    display: flex;
    max-height: 100em;
    min-height:25em;
    max-width: 200em;
    min-width:80em;
   
    border:1px solid;
    /* display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	/* justify-content: center; */
	/* align-items: stretch; */
	/* align-content: flex-start; */ 
}


 .outer-char-bio-panel{
    background-color: grey;
    display: flex;
    min-width: 32.5em;
    max-height: 40em;
    min-height:40em;
   
 }
 
 .outer-mystery-panel{
         display: flex;
         background-color: blue;
         min-width: 30em;
         max-height: 40em;
         min-height:40em;
         
      }
     
     .outer-scratch-panel{
         max-height: 30em;
         min-height:40em;
         min-width: 32.5em;
         background-color: grey;
         display: flex;

        }

        .outer-left-div{
            background-color: brown;
            display: flex;
            min-height: 25em;
            min-width:10em;
        }
        .outer-character-display-panel{
            
                min-height: 25em;
                display: flex;
                background-color: rgba(165, 98, 98, 0.153);
                min-width: 75em;
             } 
        .outer-right-div{
            background-color: brown;
            display: flex;
            min-height: 25em;
            min-width:10em;

        }


    